<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,500,700,800' rel='stylesheet' type='text/css'>

    <!-- Bootstrap and Font Awesome css -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

</head>

<body>
    <div id="all">
        <div id="content">
            <div class="col-md-9 col-md-offset-1 text-center">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="text-align: center;">Cantidad</th>
                                <th>Nombre</th>
                                <th>Precio</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for producto in productos %}
                            <tr>
                                <td>
                                    <input id="producto-{{ forloop.counter0 }}" type="number" value="0" data-id="{{producto.pk}}" data-name="{{producto.nombre}}" data-price="{{producto.precio}}" class="form-control">
                                </td>
                                <td>
                                    <p>{{producto.nombre}}</p>
                                </td>
                                <td>{{producto.precio}}€</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
                <button type="button" class="btn btn-primary">Hacer pedido</button>
            </div>
        </div>
    </div>
    <a href="/logout">Salir</a>
    <!-- /#all -->

    <!-- #### JAVASCRIPT FILES ### -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script>
        $(".btn").click(function(event) {
            event.preventDefault();
            if ($('.table').find("input").filter(function() {
                    return parseInt(this.value, 10) !== 0;
                }).length === 0) {
                Swal.fire({
                  icon: 'error',
                  title: 'Añade algun producto',
                  text: 'No has pedido ningún producto '
                })
            }else {
                jsonObj = [];
                $(".table").find("input").each(function() {
                    item = {}
                    item ["pk"] =  $(this).data("id");
                    item ["nombre"] =  $(this).data("name");
                    item ["precio"] =  $(this).data("price");
                    item ["cantidad"] =  $(this).val();
                    if (item["cantidad"] > 0){
                        jsonObj.push(item);
                    }
                })
                $.ajax({
                    url: '/pedidos/',
                    type: 'PUT',
                    data: JSON.stringify(jsonObj),
                    success: function(data) {
                        Swal.fire({
                          title: '¡Pedido realizado!',
                          text: 'Hemos enviado tu pedido',
                          icon: 'success',
                          confirmButtonText: 'Continuar'
                        })
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                        Swal.fire({
                          icon: 'error',
                          title: 'Ups...',
                          text: 'No hemos podido enviar tu pedido, prueba más tarde o contacta con nosotros'
                        })
                    }
                });
            }
        });


    </script>

</body>

</html>